VITE_SUPABASE_URL=https://ofzuvhjindrlkgjpmffu.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9menV2aGppbmRybGtnanBtZmZ1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY4NzMxNTgsImV4cCI6MjA5MjQ0OTE1OH0.8l_bPDVi1VXKtFriOlor2Tv-_QZ_pJ6x-ibJeQdEc7A
